.card {
  display: grid;
  background-color: var(--white-full);
  padding: 32px;
  gap: 16px;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: var(--shadow);

  transition: box-shadow 0.2s;
}

.card:hover {
  box-shadow: var(--hover-shadow);
}

.main {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 32px;
}

.headerBlock {
  display: grid;
  gap: 4px;
}

.title {
  margin: 0;
  gap: 16px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: var(--black);
}

.salary {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  white-space: nowrap;
}

.controlsBlock {
  display: flex;
  justify-content: end;
}

.btn {
  border: none;
  height: fit-content;
  background-color: transparent;
  cursor: pointer;
}

.eye {
  opacity: 0;
  transition: 0.2s;
}

.eye path {
  transition: 0.2s;
}

.eye:hover path {
  stroke: var(--blue);
  fill: var(--blue);
}

.card:hover .eye {
  opacity: 100;
}

.additional {
  display: grid;
  gap: 16px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.upContent {
  display: grid;
  gap: 8px;
}

.experience {
  display: flex;
  gap: 8px;
  align-items: center;
}

.title,
/* .salary, */
.upContent p,
.experience {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1023px) {
  .card {
    padding: 24px;
    gap: 12px;
  }

  .main {
    gap: 24px;
  }

  .additional {
    gap: 12px;
  }

  .upContent {
    gap: 6px;
  }
}

@media (max-width: 767px) {
  .card {
    padding: 16px;
  }

  .main {
    gap: 16px;
  }

  .title,
  .salary {
    font-size: 14px;
    line-height: 1.428;
  }

  .additional {
    gap: 8px;
  }

  .upContent {
    gap: 4px;
  }
}
