.block {
  position: relative;
  padding: 16px 0 32px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.btn {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--active-1);
  transition: color 0.3s;
}

@media (max-width: 1023px) {
  .block {
    padding: 0 0 24px;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 767px) {
  .block {
    padding: 0 0 16px;
  }

  .list {
    grid-template-columns: 1fr auto;
    gap: 20px;
  }

  .list.hasOpenedItem {
    grid-template-columns: 1fr;
  }

  .btn {
    bottom: -8px;
  }
}
