.card {
  background-color: var(--neutral-100);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: 32px;
  color: var(--neutral-800);
  cursor: pointer;
  transition: box-shadow .2s ease-in-out;
}

.card:hover {
  box-shadow: var(--hover-shadow);
}

.headingAndHover {
  display: flex;
  gap: 16px;
}

.heading {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  display: none;
}

.card:hover .icon {
  display: block;
}

.wages {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 16px;
}

.text {
  font-size: 12px;
  line-height: 1.333;
  font-weight: 500;
}

.experience {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.mb8 {
  margin-bottom: 8px;
}