.wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--white-full);
  box-shadow: var(--shadow);
  z-index: 50;
}

.container {
  display: grid;
  align-items: center;
  width: 100%;
  padding: 24px 40px;
  max-width: 1200px;
}

.burgerBtn svg {
  width: 24px;
  height: 24px;
}

@media (min-width: 1600px) {
  .container {
    grid-template-columns: 1fr 1.25fr;
  }
}

@media (min-width: 1280px) and (max-width: 1599px) {
  .container {
    grid-template-columns: 1fr 1.87fr;
  }
}

@media (max-width: 1279px) {
  .wrapper {
    border-radius: 8px;
  }

  .container {
    grid-template-columns: 1fr 2.15fr;
  }
}

@media (max-width: 1023px) {
  .container {
    grid-template-columns: 1fr auto;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 16px 20px;
  }

  .logo {
    width: 118px;
    height: 16px;
  }
}
